# Default ignored files
/shelf/
.idea
# CodeStream ignored files
/codestream.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
