# Default ignored files
target/
/shelf/
# IntelliJ IDEA #
.idea
*.iws
*.iml
*.ipr
# CodeStream ignored files
/codestream.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/hackerrank-app.iml